*{
    font-family: 'Poppins', sans-serif;
    color: #4d1300;
}
body {
    background-color: #ecd9c6;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

.center_text {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}