*{
    font-family: 'Poppins', sans-serif;
    color: #4d1300;
}
body {
    background-color: #ecd9c6;
}

#title {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.center_text {
    text-align: center;
}

.bold_inline_text {
    color:#1a0000;
    font-weight: 800;
}

#choropleth_map {
    overflow: visible;
    width: 60%;
    float: left;
}

/* Slider */
#choropleth_map .vega-bind {
    padding-left: 25px;
    margin-bottom: 20px;
    font-size: 14px;
}

input[type=range] {
    -webkit-appearance: none; 
    width: 150px;
    background-color: white;
    margin-right: 10px;
    position: relative;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    overflow: auto;
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 26px;
    width: 14px;
    border-radius: 3px;
    background: #4040bf;
    cursor: pointer;
    margin-top: -10px; 
}  

input[type=range]::-webkit-slider-runnable-track {
    width: 80px;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
/* End slider */

/* All textboxes in the page */
.textbox {
    overflow: hidden;
    position: relative;
    float: left;
    height: auto;
    width: 28%;
}

/* Selection column in the right end of the first row */
.first_row_column {
    overflow: hidden;
    position: relative;
    height: auto;
    width: 10%;
    float: right;
    padding-right: 10px;
    padding-top: 10px;
}

/* Individual selection icon/button */
.icon_container {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 30px;
}

.icon {
    opacity: 1;
    display: block;
    border: 5px solid #4040bf;
    border-radius: 25px;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.icon_middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.icon_container:hover .icon {
    opacity: 0.3;
}
  
.icon_container:hover .icon_middle {
    opacity: 1;
}
  
.icon_middle_text {
    background-color: #4040bf;
    color: white;
    font-size: 14px;
    width: 70px;
    padding: 10px;
    text-align: center;
}

.icon_middle_text:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/* End selection icon */

/* Drop down selection menu */
#overall_composite .vega-bind {
    font-size: 14px;
    display: flex;
    justify-content: center;
}

#life_edu_composite .vega-bind {
    position: relative;
    font-size: 14px;
    padding-left: 25px;
    padding-top: 20px;
    top: -410px;
}

select {
    margin-left: 10px;
    position: absolute;
}

select:focus > option:checked { 
    background: #8f8ffa;
} */

#overall_composite {
    margin-top: 20px;
    width: 90%;
}

#life_edu_composite {
    margin-top: 20px;
    position: relative;
    overflow: visible;
    width: 50%;
    float: inline-start;
    height: auto;
}

#health {
    margin-top: 30px;
    width: 43%;
    float: right;
    padding-right: 50px;
}

#education {
    position: absolute;
    width: 43%;
    top: 1360px;
    padding-left: 70px;
    padding-right: 50px;
}

#gni_radial {
    position: relative;
    top: -60px;
}

#income {
    width: 43%;
    position: absolute;
    right: 50px;
    margin-top: -45px;
}

#author {
    float: right;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 35px;
    padding-right: 50px;
}
